WcfClient/WcfClient/Connected Services/ServiceReference1/CustomerWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerWcf_getTheNewest10PublicFilesBySubject_InputMessage">
    <wsdl:part name="parameters" element="tns:getTheNewest10PublicFilesBySubject" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_getTheNewest10PublicFilesBySubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTheNewest10PublicFilesBySubjectResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_getCustomersWith90Quota_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomersWith90Quota" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_getCustomersWith90Quota_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomersWith90QuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_updateCustomerQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCustomerQuota" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_updateCustomerQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCustomerQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_updateFileAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:updateFileAvailability" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_updateFileAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateFileAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_checkAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:checkAdmin" />
  </wsdl:message>
  <wsdl:message name="ICustomerWcf_checkAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerWcf">
    <wsdl:operation name="getTheNewest10PublicFilesBySubject">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWcf/getTheNewest10PublicFilesBySubject" message="tns:ICustomerWcf_getTheNewest10PublicFilesBySubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWcf/getTheNewest10PublicFilesBySubjectResponse" message="tns:ICustomerWcf_getTheNewest10PublicFilesBySubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomersWith90Quota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWcf/getCustomersWith90Quota" message="tns:ICustomerWcf_getCustomersWith90Quota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWcf/getCustomersWith90QuotaResponse" message="tns:ICustomerWcf_getCustomersWith90Quota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomerQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWcf/updateCustomerQuota" message="tns:ICustomerWcf_updateCustomerQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWcf/updateCustomerQuotaResponse" message="tns:ICustomerWcf_updateCustomerQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateFileAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWcf/updateFileAvailability" message="tns:ICustomerWcf_updateFileAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWcf/updateFileAvailabilityResponse" message="tns:ICustomerWcf_updateFileAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerWcf/checkAdmin" message="tns:ICustomerWcf_checkAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerWcf/checkAdminResponse" message="tns:ICustomerWcf_checkAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerWcf" type="tns:ICustomerWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTheNewest10PublicFilesBySubject">
      <soap:operation soapAction="http://tempuri.org/ICustomerWcf/getTheNewest10PublicFilesBySubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomersWith90Quota">
      <soap:operation soapAction="http://tempuri.org/ICustomerWcf/getCustomersWith90Quota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomerQuota">
      <soap:operation soapAction="http://tempuri.org/ICustomerWcf/updateCustomerQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFileAvailability">
      <soap:operation soapAction="http://tempuri.org/ICustomerWcf/updateFileAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAdmin">
      <soap:operation soapAction="http://tempuri.org/ICustomerWcf/checkAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWcf">
    <wsdl:port name="BasicHttpBinding_ICustomerWcf" binding="tns:BasicHttpBinding_ICustomerWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>